.aboutWrapper {
    background-color: var(--background-color-primary);
    background-image: var(--background-gradient);
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100vh;

    .content {
        padding-top: 150px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
        position: relative;
        height: 90%;
        justify-content: space-evenly;
        max-width: 1280px;


        .pageHeading {
            // transform: rotate(-6deg);

            h1 {
            
            }    
        }

        .tileGrid {
            display: grid;
            grid-template-columns:  1fr 1fr 1fr;
            width: 100%;
            gap: 2rem;

           

            .tileOne {
                background-color: orange;

                h2 {
                    // padding-left: 5em;
                    font-family: var(--text-font-body);
                    color: white;
                    width: 80%;
                    letter-spacing: 5px;
                }
            }
            

            .tileOne, .tileTwo, .tileThree {
                height: 300px;
            }
        }

        
}
}