@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('bootstrap/dist/css/bootstrap.min.css'); 

@font-face {
  font-family: Semiotic;
  src: url("../public/fonts/Semiotic.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--text-font-header) !important;
  // --text-font-header: 'Open Sans', sans-serif;
  --text-font-header: 'Semiotic';
  --text-font-body: 'Source Sans', sans-serif;
  --text-color-primary: white !important;
  --text-color-tertiary: #1F2232 !important;
  --text-color-secondary: black !important;
  --background-color-primary: #FF9A8B;
  --background-gradient: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  ;
  scroll-behavior: smooth;
}

h1 {
  font-size: 20vh;
}
h1, h2, h3, h4, h5 {
  color: var(--text-color-primary);
  font-weight: 700;
}

a {
  color: var(--text-color-primary) !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
