.background {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
    // filter: contrast(0.5);
    background-color: var(--background-color-primary);
    background-image: var(--background-gradient);

}

.landingWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    padding-top: 100px;

    .landingTagline {
        display: flex;
        align-items: flex-start;

        h1 {
            text-shadow: 2px 2px var(--text-color-tertiary);
        }
        
        .pinkText {
            color: var(--text-color-tertiary);
            text-shadow: 2px 2px var(--text-color-primary);

        }
    }
}


