.listItem, .listItemMove {
    display: flex;
    position: relative;
    transition: all ease-in-out 1s;
    width: max-content;
    margin: 1em;

    a {
        .textUpper {
            // color: rgb(255, 248, 240);
            // text-shadow: 2px 2px rgb(39, 39, 39);
        } 

        .textGradient {
            position: fixed;
            top: 7%;
            left: 0%;
            z-index: -1;
            background:  linear-gradient(79deg, #7fffd4 0%, #84d6eb 69%, #c09bd8 95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all ease-in-out 1s;
        }

        .textGradientMove {
            position: fixed;
            top: 10%;
            left: -1%;
            transition: all ease-in-out 1s;
            background:  linear-gradient(79deg, #7fffd4 0%, #84d6eb 69%, #c09bd8 95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: -1;
            filter: contrast(200%);
            width: max-content;

        }

        .textUpper, .textGradient, .textGradientMove {
            font-size: 10vh;
            letter-spacing: 1px;
            transform: skew(-15deg);
            overflow: hidden;        
            width: max-content; 
            transition: all ease-in-out 1s;   
        }
    }
}

.listItem{
    transform: rotate(-6deg);
}
.listItemMove {
    transform: rotate(0deg);
    transform: scale(1.2,1.2);

    .textUpper {
        text-shadow: 2px 2px rgb(39, 39, 39);
    }
    
}

.listItem:nth-child(odd) {
    margin-left: 40px;
}
  
.listItem:nth-child(even) {
    margin-right: 40px;
}

@media (max-width: 600px) {
    .listItem, .listItemMove {
        a {
            .textUpper, .textGradient, .textGradientMove {
                font-size: 6vh;
            }
        }
    }    
}