.background {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
    // filter: contrast(0.5);
    background-color: var(--background-color-primary);
    background-image: var(--background-gradient);

}


.pageWrapper {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;


    .content {
        padding-top: 150px;
        display: flex;
        align-items: flex-start;
        width: 95%;
        position: relative;
        max-width: 1280px;

        ul {
            list-style: none;
            display: grid;
            gap: 2rem;
            padding: 0;
        }
    }
}    

@media (max-width: 480px) {
    .pageWrapper {
        .content {
            padding-top: 300px;
            width: 100%;

            ul {
                margin: 1em;
                gap: 5rem;
            }
        }
    }   
}



