.listItem, .listItemMove {
    display: flex;
    position: relative;
    transition: all ease-in-out 1s;
    width: max-content;
    margin: 1em;
    height: max-content;
    gap: 2rem;

    a {

        .textGradient {
            position: fixed;
            top: 0%;
            left: 0%;
            z-index: -1;
            background:  linear-gradient(79deg, #7fffd4 0%, #84d6eb 69%, #c09bd8 95%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .textGradientMove {
            position: fixed;
            top: 0%;
            left: 20%;
            background:  linear-gradient(79deg, #7fffd4 0%, #84d6eb 69%, #c09bd8 95%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: -1;
            opacity: 0.9;
            // filter: contrast(200%);
            width: max-content;
        }

        .textUpper, .textGradient, .textGradientMove {
            font-size: 100px;
            letter-spacing: 1px;
            overflow: hidden;        
            width: max-content; 
            transition: all ease-in-out 0.6s;   
        }

        .textUpper {
            // color: rgb(255, 248, 240);
            transition: all ease-in-out 0.5s;
            text-shadow: 2px 2px black;

        }
    }
}

.listItem{
    transform: rotate(0deg);
}
.listItemMove {
    transform: rotate(0deg);

    .textUpper {
        position: relative;
        transition: all ease-in-out 0.5s;
        transform: translateX(20rem);
        transform: translateY(20rem);
        filter: contrast(0);
        opacity: 0;
    }
    
}


@media (max-width: 600px) {
    .listItem, .listItemMove {
        a {
            .textUpper, .textGradient, .textGradientMove {
                font-size: 6vh;
            }
        }
    }    
}
@media (max-width: 480px) {
    .listItem, .listItemMove {
        a {
            .textUpper, .textGradient, .textGradientMove {
                font-size: 4vh;
            }
        }
    }
    .listItemMove {
        transform: scale(1.1,1.1);
    
    }    
}