.card {
    transition: all 500ms;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80vw;
    max-width: 1000px;
    margin: 1em;

    .areaOne {
      display: flex;
      gap: 2em;
      border-bottom: 3px solid white;

      .image {
        height: 300px;
        width: 500px;
        // width: 50%;
        transition: transform .5s ease;
        overflow: hidden;
      }

      .image:hover{
        opacity: 1;
        height: 300px;
        width: 500px;
        transform: scale(1.2);
        overflow: hidden;
      }
    }

    .areaTwo {
      display: flex;
      flex-direction: row; 
      gap: 2em;

      h1 {
        color: var(--text-color-secondary);
      }

      p {
        align-self: center;
      }
    }

  

}    